// app global css in SCSS form

.my-custom-table {
  .q-table th,
  .q-table td {
    padding: 3px 7px !important;
  }
}

.bg-custom-transparent {
  background-color: rgba(131, 131, 131, 0.5);
}

@media print {
  .page-break {
    page-break-before: always;
  }
}
